<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>projectInfo</key>
	<dict>
		<key>archiveMethon</key>
		<string>AD-Hoc</string>
		<key>archiveTarget</key>
		<string></string>
		<key>archiveModel</key>
		<string>Release</string>
	</dict>
	<key>certificateInfo</key>
	<dict>
		<key>adhocSignIdentity</key>
		<string></string>
		<key>adhocProfileName</key>
		<string></string>
		<key>appStoreSignIdentity</key>
		<string></string>
		<key>appStoreProfileName</key>
		<string></string>
	</dict>
	<key>pgyerInfo</key>
	<dict>
		<key>uKey</key>
		<string></string>
		<key>apiKey</key>
		<string></string>
		<key>password</key>
		<string></string>
		<key>isPublishToPublic</key>
		<string></string>
	</dict>
</dict>
</plist>
